:root {
  --light-green: #D6F8D6;
  --green: #3E885B;
  --dark-green: #2F4B26;
  --light-yellow: #FFBF00;
  --dark-yellow: #E6AF2E
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}